.react-datepicker {
    background-color:#fff;
    width: 233px;
    font-family: inherit;
    border: 2px solid #9DA4BD;
    border-radius: 8px;
}

.react-datepicker__header {
    border-bottom: none;
}

.react-datepicker__triangle {
    display: none;
}

.react-datepicker__header {
    padding-top: 18px;
    padding-bottom: 0;
    /* background-color: inherit; */
    background-color:rgba(255, 108, 0, 1);
}

.react-datepicker__month {
    margin-right: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
}

.react-datepicker__day-names {
    margin-top: 14px;
}

.react-datepicker__current-month {
    padding-bottom: 18px;
    margin-left: 18px;
    margin-right: 18px;
    border-bottom: 1px solid #303030;
    color: #fff;
}

.react-datepicker__day {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0.215rem;
    color:#303030;
}

.react-datepicker__day:hover {
    border-radius: 50%;
    background-color:rgba(255, 108, 0, 1);
    color: #fff;
}

.react-datepicker__day-name {
    width: 24px;
    height: 24px; 
    margin-top: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
}

.react-datepicker__navigation {
    top: 15px;
}

.react-datepicker__navigation--previous {
    left: 4px;
}

.react-datepicker__navigation--next {
    right: 4px;
}

.react-datepicker__day--selected {
    color: rgba(255, 108, 0, 1);
    font-weight: 700;
    background-color: transparent;
}

.react-datepicker__day--keyboard-selected {
    border-radius: 50%;
    background-color:rgba(255, 108, 0, 1);
    color: inherit;
}

.react-datepicker__day--keyboard-selected:hover {
    background-color: #303030;
}

.react-datepicker__day--disabled {
    /* display: none; */
    color:#f7f7f7;
    background-color: #9DA4BD;
    border-radius: 50%;
}

.react-datepicker__day--disabled:hover {
    color:#f7f7f7;
    background-color: #9DA4BD;
}

.react-datepicker__navigation-icon::before {
    border-width: 2px 2px 0 0;
    height: 7px;
    width: 7px;
    border-color: #fff;
}

.react-datepicker__navigation:hover *::before {
    border-color: #303030;
}


.react-datepicker__calendar-icon {
    fill:#9DA4BD;
}

/* react-datepicker__header__dropdown--scroll*/

.react-datepicker__year-read-view {
    color: #fff;
}

/* .react-datepicker__year-read-view--down-arrow {
    border-color: #fff;
    color: #fff;
}

.react-datepicker__year-read-view--down-arrow:hover {
    border-color: #303030;
} */

.react-datepicker__year-dropdown--scrollable {
    background-color: #fff;
    color: #303030;
}

.react-datepicker__year-option--selected_year {
    background-color: rgba(255, 108, 0, 1);
    color: #fff;
}

.react-datepicker__year-option--disabled {
    display: none;
}